// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$swirl:         #D8CCC5;
$cararra:         #E6E7E1;



@font-face {
  font-family: "CaviarDreams";
  src: url("../../fonts/CaviarDreams.ttf");
 }

//Font sizes
$extra-large: 64px;
$large: 48px;
$medium: 24px;
$paragraph: 18px;
